@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.answer-loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* display: inline-block; */
  border-top: 4px solid #d7a1f9;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.answer-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left: 4px solid #a020f0;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
  background-color: #6a6b6c;
}

.ProseMirror {
  caret-color: rgb(148, 153, 142);
}

.ProseMirror p {
  margin: 0;
  min-width: 1px;
}

.my-bg-gradient {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #1f1c3e 74%);
}

.story-pilot-link {
  text-shadow: 2px 2px 3px rgba(154, 238, 239, 0.3),
    -1px -1px 2px rgba(255, 255, 255, 0.5);
  /* background-image: linear-gradient(135deg, #a7b2f2 0%,#dc07eb 30%,#f125d9 40%, #c700fe 30%); */
  background-image: linear-gradient(135deg, rgb(247, 186, 251) 5%,#d400ff 35%,#f700ff 60%);
  -webkit-background-clip: text; /* For transparent text */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
}

.story-pilot-link::before {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust for cut depth */
  left: 0;
  width: 100%;
  height: 10px; /* Adjust for cut height */
  background-color: inherit; /* Match text color */
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
}
